body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: pink;
  padding: 0 .5em;
}
.footer {
  background-color: red;
  padding: 0 .5em;
}
.main {
  background-color: #eb5151;
  padding: 1em;
}
h1 {
  font-size: 150%;
  margin: 0 0;
  padding: .5em 0;
}
div {
  padding: 0vw 0vh;
  margin: 0vw 0vh;
}
